/* Imports */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
/* Vars */

:root {
	--main-bg-color: rgb(225, 225, 225);
	--font-sans: 'Open Sans', sans-serif;
	--error-box-bg: #D32F2F;
	--main-navbar-bg: #FBC02D;
	--sidebar-width: 250px;
	--sidebar-bg: #455A64;
}

/* Globals */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-sans);
}

html, body {
	width: 100%;
	height: 100%;
	background: var(--main-bg-color);
}

body {
	overflow-x: hidden;
}

div.erro-box {
	width: 100%;
	padding: 12px 2%;
	text-align: center;
	background: var(--error-box-bg);
	color: #FFFFFF;
	font-size: 1rem;
}

div.erro-box ion-icon {
	font-size: 1rem;
	line-height: 1rem;
	position: relative;
	top: 3px;
	left: 5px;
}

div.clear {
	clear: both;
}

div.center {
	padding: 0 2%;
	margin: 0 auto;
}

.w100 {
	width: 100%;
}

.w50 {
	width: 49%;
}

.left {
	float: left;
}

.right {
	float: right;
}