/* Box Login */

section.box-login {
	max-width: 600px;
	width: 95%;
	padding: 60px 2%;
	background: #FFFFFF;
	position: absolute;
	left: 50%;
	top: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	box-shadow: 0 0 8px 8px #CCCCCC;
}

section.box-login h2 {
	text-align: center;
	font-size: 1.125rem;
	margin: 10px 0;
	text-transform: uppercase;
	font-weight: normal;
	color: #000000;
}

section.box-login input[type=text], section.box-login input[type=password] {
	width: 100%;
	height: 40px;
	border: 1px solid #CCCCCC;
	padding-left: 8px;
	margin-top: 8px;
}

section.box-login input[type=submit] {
	width: 90px;
	height: 40px;
	cursor: pointer;
	margin-top: 10px;
	background: #00BFA5;
	font-size: 0.875rem;
	color: #FFFFFF;
	border: 0;
	font-weight: 300;
}

/* Navbar */

header.navbar {
	padding: 10px 0;
	background: var(--main-navbar-bg);
	height: 40px;
	width: calc(100% - var(--sidebar-width));
	position: relative;
	left: var(--sidebar-width);
}

header.navbar .menu-btn {
	float: left;
	cursor: pointer;
}

header.navbar ion-icon {
	font-size: 1.25rem;
}

header.navbar div.logout {
	float: right;
}

header.navbar div.logout a span {
	font-size: 1rem;
	position: relative;
	top: -4px;
	left: -4px;
}

header.navbar div.logout a {
	color: #000000;
	text-decoration: none;
}

/* Menu */

section.menu {
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
	background: var(--sidebar-bg);
	width: var(--sidebar-width);
	height: 100%;
	padding: 10px 0;
	position: fixed;
	left: 0;
	top: 0;
}

section.menu div.menu-wrapper {
	width: var(--sidebar-width);
}

section.menu div.box-usuario {
	text-align: center;
}

section.menu div.box-usuario div.avatar-usuario {
	text-align: left;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	display: inline-block;
	border: 3px solid #DDDDDD;
}

section.menu div.box-usuario div.avatar-usuario ion-icon {
	font-size: 4rem;
	color: #DDDDDD;
	position: relative;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

section.menu div.box-usuario div.nome-usuario {
	text-align: center;
	margin-top: 10px;
}

section.menu div.box-usuario div.nome-usuario p {
	color: #FFFFFF;
	font-weight: lighter;
	font-size: 1rem;
	padding: 5px 0;
}

section.menu div.box-usuario div.nome-usuario p.role-usuario {
	font-size: 0.875rem;
}

/* Home */

section.home-content {
	width: calc(100% - var(--sidebar-width));
	position: relative;
	left: var(--sidebar-width);
	padding: 10px;
}

section.home-content div.box-content {
	background: #FFFFFF;
	padding: 10px;
	margin-bottom: 10px;
}